*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#111;
color:white;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
text-decoration:none;
color:white;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(to right,#4facfe,#00f2fe);
color:white;
}

.hero img{
border-radius:50%;
margin-bottom:20px;
}

.hero h1{
font-size:35px;
}

button{
margin-top:15px;
padding:10px 20px;
border:none;
background:black;
color:white;
cursor:pointer;
border-radius:5px;
}

.about{
text-align:center;
padding:60px;
}

.skills{
padding:60px;
background:#f4f4f4;
text-align:center;
}

.skill-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.card{
background:white;
padding:25px;
width:200px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.projects{
padding:60px;
text-align:center;
}

.project-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.project-card{
background:#eee;
padding:25px;
width:220px;
border-radius:10px;
}

.contact{
padding:60px;
background:#f4f4f4;
text-align:center;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}